* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  text-align: center;
}
body {
  background-image: url(../images/math.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* #bodyImage {
  width: 100%;
  height: 750px;

} */
#let {
  width: 100%;
  height: 40px;
  clear: both;

  font-size: 2em;
  background-color: #dddddd;

  box-shadow: inset 0px 4px 23px -10px rgba(0, 0, 0, 0.5);
}
div#containe {
  width: 100%;

  height: 50px;
  position: relative;
  padding: 0%;
  margin: 0%;
}
div p {
  height: 100%;
  float: left;
  width: 13%;
  font-size: 1.7em;
  background-color: #dddddd;
  padding-top: 0.5%;
  font-weight: 600;
}
#but {
  width: 30%;
  height: 100%;
  margin: 0%;
  float: left;
}
#in {
  width: 18%;
  height: 100%;
  font-size: 2em;
  float: left;
}
#sum {
  margin: 3%;
  float: right;
  width: 500px;
  height: 500px;
}
#sum img {
  width: 100%;
  height: auto;
}
div#containe::after {
  contain: none;
  clear: both;
}
#contain {
  width: 400px;
  height: 610px;
  border: 5px solid rgba(0, 0, 0, 0.6);
  padding: 0%;
  margin: 3%;
  position: relative;
  perspective: 600px;
  box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.5);
}

.puzzl {
  width: 33.3%;
  height: 200px;
  position: relative;
  left: 0;
  top: 0;

  float: left;
  transform-style: preserve-3d;
}
.photo {
  width: 100%;
  height: 200px;
  /* background-color: aqua; */
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../image/vedic-maths.jpg);
  background-size: cover;
}
.back {
  width: 100%;
  height: 200px;
  background-color: aqua;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
}
.back img {
  width: 100%;
  height: 100%;
}

.animation {
  animation: backFace 2s linear;
  animation-fill-mode: forwards;
}
@keyframes backFace {
  0% {
    transform: rotateY(0deg);
    transform: scale(1.7);
    box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.5);
  }
  50% {
    transform: scale(1.5);
    transform: rotateY(60deg);
    box-shadow: 12px 15px 17px rgba(0, 0, 0, 0.6);
  }
  75% {
    transform: scale(1.4);
    transform: rotateY(90deg);
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.7);
  }
  100% {
    transform: scale(1);
    transform: rotateY(180deg);
  }
}

.goo {
  transform-style: preserve-3d;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: hinge;
  animation-name: hinge;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.divG {
  width: 400px;
  padding: 0%;
  top: -900px;
  left: 10%;
  margin: auto;
  position: relative;
}
.rot {
  transform-style: preserve-3d;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: hei;
  animation-name: hei;
  animation-fill-mode: forwards;
}
@keyframes hei {
  from {
    transform: translateY(-800px);
  }
  to {
    transform: translateY(200px);
  }
}
@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }

  90% {
    -webkit-transform: translate3d(0, 370px, 0);
    transform: translate3d(0, 370px, 0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  to {
    -webkit-transform: translate3d(0, 400px, 0);
    transform: translate3d(0, 400px, 0);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    /* opacity: 0; */
  }
}
.spanGood {
  transform-style: preserve-3d;
  font-size: 7em;
  display: inline-block;
  width: 70px;
  height: 30px;
  position: relative;
}
.bravo {
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
span.bravo:first-of-type {
  animation-delay: 2s;
  color: brown;
}
span.bravo:nth-of-type(2) {
  animation-delay: 2.2s;
  color: red;
}
span.bravo:nth-of-type(3) {
  animation-delay: 2.4s;
  color: rgb(25, 0, 255);
}

span.bravo:last-of-type {
  animation-delay: 2.6s;
  color: rgb(12, 158, 109);
}
@keyframes wave {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.5;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  50% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  to {
    /* -webkit-transform: translateY(700px);
    transform: translateY(700px); */
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 0.5;
  }
}
